/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #51e3d4;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}


/* NAV */
#logo {
    flex: 1 1 30px;
    font-size: 2.5rem;
}

.main-head {
    position: sticky;
    top: 0;
    background: grey;
    min-height: 10vh;
    background: #474f85;
}

.main-head nav {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 10vh;
    padding: 2rem;
    width: 90%;
}

.main-head ul {
    flex: 1 1 30px;
    display: flex;
    justify-content: space-around;
}

.main-head li {
    list-style-type: none;
    font-size: 1.5rem;
    flex-basis: 30px;
    margin: 0.5rem 2rem;
}

.main-head a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #51e3d4;
    transition: 0.5s;
}

.main-head a:hover::after {
    width: 100%;
    transition: 0.5s;
}

/* HERO */
.hero {
    background: url("/img/pexels-lumn-316466.jpg");
    background-position: center;
    background-size: cover;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.hero h1 {
    margin: 3rem;
    margin-top: 10rem;
}

.hero h2 {
    margin-left: 10%;
}

.hero a {
    margin: 3rem;
}

#hero-button {
    border: none;
    padding: 2rem 3rem;
    border-radius: 5px;
    background: #474f85;
    color: white;
    transition: all 0.5s;
}

#hero-button:hover {
    cursor: pointer;
    background: #1a1d31;
}

/* ABOUT */
.about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.about h1 {
    text-align: center;
    margin-bottom: 3rem;
}

.about-wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-text {
    flex: 1 1 42rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #f3f9fb;
    border-radius: 10px;
    box-shadow: 5px 5px black;
    margin: 3rem;
    padding: 3rem;
}

.about-text li {
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.about-text h2 {
    margin: 4rem;
}

.about-text li {
    list-style: none;
}

.about-image {
    flex: 1 1 42rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-image #terje {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 5px 5px black;
}

.about-image #graph {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 5px black;
}

/* FOOTER */
footer {
    background: #474f85;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    padding: 1rem;
}

footer img {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
}

.photo-credits {
    flex: 1 1 15rem;
    text-align: center;
}

.about-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 2 1 15rem;
}

.about-us-header {
    margin: 1rem;
}

.person-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}

.person-wrapper p {
    margin: 1rem;
}

.person-wrapper img {
    margin: 0.5rem;
}

/* MEDIA QUERY */

@media screen and (max-width: 465px) {
    #logo {
        text-align: center;
    }
}

@media screen and (max-width: 1439px) {
    .about-image {
        margin-bottom: 0.5rem;
    }

    .about-image {
        margin-top: 0.5rem;
        margin-bottom: 2rem;
    }
}

/* 
@media(max-width:1000px) {
    .about-image img {
        width: 90%;
        height: auto;
    }
}

@media(max-width:800px) {
    .about-image img {
        width: 80%;
        height: auto;
    }
}

@media(max-width:600px) {
    .about-image img {
        width: 60%;
        height: auto;
    }
}
 */