/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 3rem;
}


/* NAV */
#logo {
    flex: 1 1 30px;
}

.main-head {
    position: sticky;
    top: 0;
    background: grey;
    min-height: 10vh;
}

.main-head nav {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    padding: 2rem;
}

.main-head ul {
    flex: 1 1 30px;
    display: flex;
    justify-content: space-around;
}

.main-head li {
    list-style-type: none;
}

/* HERO */
.hero {
    background: url("/img/pen-and-paper.jpg");
    background-position: center;
    background-size: cover;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}