/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #51e3d4;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}


/* NAV */
#logo {
    flex: 1 1 30px;
}

.main-head {
    position: sticky;
    top: 0;
    background: grey;
    min-height: 10vh;
    /* background: #51e3d4; */
    background: #474f85;
}

.main-head nav {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    padding: 2rem;
}

.main-head ul {
    flex: 1 1 30px;
    display: flex;
    justify-content: space-around;
}

.main-head li {
    list-style-type: none;
    font-size: 1.5rem;
}

/* HERO */
.hero {
    background: url("/img/pexels-lumn-316466.jpg");
    background-position: center;
    background-size: cover;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.hero h1 {
    margin: 3rem;
    margin-top: 10rem;
}

#hero-button {
    margin: 3rem;
}

/* ABOUT */
.about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.about h1 {
    text-align: center;
    margin-bottom: 3rem;
}

/* FOOTER */
footer {
    background: #474f85;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer img {
    border-radius: 50%;
}

.about-us {
    font-weight: bold;
}