/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

/* NAV */
.header {
    background: grey;
    min-height: 10vh;
}

.header nav {
    display: flex;
}

.header li {
    list-style-type: none;
}